@import url('./variables.css');

.gh-card {
  width: 60%;
  margin: 100px auto;
  gap: 1.5rem;
  position: relative;
  padding-bottom: 2rem;
}

.card-close-btn {
  color: #645e5a;
  position: absolute;
  margin-left: 15px;
  top: 10px;
  right: 10px;
  &:hover {
    filter: brightness(0.3);
    transition: brightness 2s;
  }
}

.gh-image {
  border: 9px solid;
  width: 300px;
  filter: grayscale(0.7);
}

.gh-link {
  display: block;
  text-decoration: none;
}

.gh-link-image {
  outline: 3px solid #84cc16;
  filter: brightness(0.8);
}

.show-btn {
  background-color: inherit;
  width: 100%;
  padding: 1.5rem 1rem;
  font-weight: 500;
  border: none;
}

.bio-content {
  background: rgb(57, 52, 52);
  color: white;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.followers-wrapper {
  width: 100%;
  padding-bottom: 2rem;
}

.followers-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.follower {
  transition: background 0.2s ease-out;
  padding: 20px;
}

.follower:hover {
  background: rgb(206, 232, 241);
}

.follower-img {
  width: 40px;
  outline: 4px solid;
  transition: transform 0.3s ease-out;
}

.follower-img:active {
  transform: scale(0.7);
}

.divider {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 33px),
    50% 100%,
    0 calc(100% - 33px)
  );
}

.bottom {
  clip-path: polygon(0 0, 50% 33px, 100% 0, 100% 100%, 0 100%);
  margin-top: -23px;
}
