@import url('./variables.css');

.gh-card {
  width: 40%;
  margin-inline: auto;
  position: relative;
  padding-bottom: 2rem;
}

.card-close-btn {
  color: #645e5a;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-close-btn:hover {
  filter: brightness(0.3);
  transition: brightness 2s;
}

.gh-image {
  border: 9px solid;
  width: 250px;
  filter: grayscale(0.7);
}

.gh-link {
  text-decoration: none;
  background: linear-gradient(119deg, #ea580c 0% 3%, 24%, #0891b2 49% 68%);
  color: black;
  padding: 1.5rem 1rem;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid white;
  width: 120px;
}


.bio-content {
  background: rgb(57, 52, 52);
  color: white;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.bio-dark-text {
  padding-block: var(--rem7);
}

.followers-wrapper {
  width: 100%;
  padding-bottom: 2rem;
}

.followers-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.follower {
  transition: background 0.2s ease-out;
  padding: 20px;
}

.follower:hover {
  background: rgb(206, 232, 241);
}

.follower-img {
  width: 40px;
  outline: 4px solid;
  transition: transform 0.3s ease-out;
}

.follower-img:active {
  transform: scale(0.7);
}

.divider {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 33px),
    50% 100%,
    0 calc(100% - 33px)
  );
}

.bottom {
  clip-path: polygon(0 0, 50% 33px, 100% 0, 100% 100%, 0 100%);
  margin-top: -23px;
}

@media (width < 1200px) {
  .gh-card {
    width: 60%;
  }
}
@media (width < 700px) {
  .gh-card {
    width: 80%;
  }

  .followers-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .gh-image {
    max-width: 150px;
  }
}
