.gh-card {
  /* border: 2px solid; */
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.card-close-btn {
  width: 40px;
  height: 30px;
  position: absolute;
  margin-left: 15px;
  top: 5px;
}

.card-close-btn:hover {
  filter: brightness(0.3);
  transition: brightness 2s;
}

.gh-image {
  border: 9px solid;
  width: 300px;
  border-radius: 50%;
  filter: grayscale(0.7);
  box-shadow: 2px 10px 20px -4px #a3a3a3;
}

.gh-link {
  display: block;
  text-decoration: none;
}

.gh-link-image {
  border-radius: 50%;
  outline: 3px solid #84cc16;
  filter: brightness(0.8);
}

.name {
  text-align: center;
  font-size: 3rem;
  color: #78716c;
  position: relative;
}

.bio-div {
  border: 2px solid;
  width: 50%;
}

.bio-content {
  background: lightgray;
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.followers-ul {
  width: 70%;
  max-height: 2000px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
}

.follower-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  transition: background 0.2s ease-out;
  padding: 20px;
}

.follower-li:hover {
  background: rgb(206, 232, 241);
}

.follower-img {
  width: 40px;
  border-radius: 50%;
  outline: 2px solid;
  cursor: pointer;
}

.follower-name {
  /* align-self: center; */
}
