@import url('./warning.css');

@import url('./card.css');

@import url('./variables.css');

:root {
  background: #ffedd5;
  box-sizing: border-box;
  font-size: 62, 5;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
  opacity: 0;
}

.search-container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.search-container > * {
  box-shadow: var(--shadow1);
}

/* -------------------------------------------- */
/*  H1 */
.main-heading {
  color: #78716c;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  position: abslolute;
  transform: rotate3d();
}

/* -------------------------------------------- */
/*  INPUT */
input {
  border: none;
  background-color: #f7fdec;
  /* width: 300px;  */
  width: clamp(150px, 300px, 90%);
  outline: none;
  padding-left: 15px;
  border-radius: 7px;
  font-size: 1.3rem;
}

/* -------------------------------------------- */
/*  GO.. BUTTON */
.btn {
  background: rgb(126, 230, 144);
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 7px;
  width: 180px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: rgb(54, 52, 52);
  cursor: pointer;
}

.search-button:hover {
  background: green;
  transition: all 0.5s;
}

.search-button:not(:hover) {
  transition: background 0.5s;
}

button:active {
  transform: scale(1.2);
}

/* ------------------------------------------ */
/* breakpoints */
@media (max-width: 600px) {
  .gh-image {
    width: 200px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input {
    height: 50px;
  }

  .card {
    width: 100%;
  }

  .name {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 50%;
  }
}
