/* IMPORTS */
@import url('./warning.css');
@import url('./card.css');
@import url('./variables.css');
@import url('./utility.css');

/* RESET */
:root {
  background: #ffedd5;
  box-sizing: border-box;
  font-size: 62, 5;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* -------------------------------------------- */
.hide {
  display: none;
  opacity: 0;
}

.search-container {
  width: 80%;
  margin: 1rem auto;
  gap: 1.5rem;
}

/*  INPUT */
input {
  border: none;
  background-color: #f7fdec;
  width: clamp(150px, 300px, 90%);
  outline: none;
  padding: 0 15px;
}

/* -------------------------------------------- */
/*  GO.. BUTTON */
.btn {
  background: rgb(126, 230, 144);
  outline: none;
  border: none;
  padding: 1rem;
  width: 180px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: rgb(54, 52, 52);
}

.search-button:hover {
  background: green;
  transition: all 0.5s;
}

.search-button:not(:hover) {
  transition: background 0.5s;
}

button:active {
  transform: scale(1.2);
}

.to-top-btn {
  background: lightgreen;
  padding: 0.5rem 2rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.to-top-btn:hover {
  background: green;
  transition: background 0.5s;
}
.hide-btn {
  visibility: hidden;
  opacity: 0;
}

/* ------------------------------------------ */
/* breakpoints */
@media (max-width: 600px) {
  .gh-image {
    width: 200px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input {
    height: 50px;
  }

  .card {
    width: 100%;
  }

  .name {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 50%;
  }
}
