/*  FONTS  */

.fs-s {
  font-size: var(--fs-s);
}

.fs-m {
  font-size: var(--fs-m);
}
.fs-l {
  font-size: var(--fs-l);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}
.fs-mega {
  font-size: var(--fs-mega);
}

/*  BACKGORUNDS  */
.bg1 {
  background: var(--col1);
}
.bg2 {
  background: var(--col2);
}
.bg3 {
  background: var(--col3);
}
.bg4 {
  background: var(--col4);
}
.bg5 {
  background: var(--col5);
}
.bg6 {
  background: var(--col6);
}
.bg7 {
  background: var(--col7);
}

/* SHADOWS */
.shadow1 {
  box-shadow: var(--shadow1);
}
.shadow3 {
  box-shadow: var(--shadow3);
}

/*  FLEX  */
.flex-row-center {
  display: flex;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  SHAPES  */
.border-radius {
  border-radius: 7px;
}
.round {
  border-radius: 50%;
}
.cursor {
  cursor: pointer;
}

.margin-block-small {
  margin-block: var(--rem4);
}
.margin-block-medium {
  margin-block: var(--rem8);
}
.margin-block-big {
  margin-block: var(--rem10);
}

.margin-inline-small {
  margin-inline: var(--rem4);
}
.margin-inline-medium {
  margin-inline: var(--rem8);
}
.margin-inline-big {
  margin-inline: var(--rem10);
}
