:root {
  --mainBg: #ffedd5;
  --col1: #f6d8af;
  --col2: #e7c494;
  --col3: #d6b17f;
  --col4: #c39f70;
  --col5: #b09064;
  --col6: #9d815c;

  --shadow1: 2px 10px 20px -4px #a3a3a3;
  --shadow2: 2px 5px 10px -4px #3e3d3d;
  --shadow3: 5px 15px 20px black;

  --fs-s: 0.5rem;
  --fs-m: 1rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
  --fs-mega: 4rem;

  --rem1: 0.15rem;
  --rem2: 0.2rem;
  --rem3: 0.25rem;
  --rem4: 0.5rem;
  --rem5: 0.75rem;
  --rem6: 1rem;
  --rem7: 1.25rem;
  --rem8: 1.5rem;
  --rem9: 1.75rem;
  --rem10: 2rem;
  --rem11: 2.5rem;
  --rem12: 3rem;

  --bg-light: #93c5fd;
  --bg-blue: #a5b4fc;
  --border-bottom: 1px solid;
}

@media (width < 700px) {
  :root {
    --fs-s: 0.25rem;
    --fs-m: 1rem;
    --fs-l: 0.8rem;
    --fs-xl: 1rem;
    --fs-xxl: 2rem;
    --fs-mega: 2rem;

    --rem1: 0.05rem;
    --rem2: 0.1rem;
    --rem3: 0.12rem;
    --rem4: 0.25rem;
    --rem5: 0.5rem;
    --rem6: 0.8rem;
    --rem7: 1rem;
    --rem8: 1.25rem;
    --rem9: 1.5rem;
    --rem10: 1rem;
    --rem11: 1rem;
    --rem12: 2rem;
  }
}
