:root {
  --col1: #ffedd5;
  --col2: #f6d8af;
  --col3: #e7c494;
  --col4: #d6b17f;
  --col5: #c39f70;
  --col6: #b09064;
  --col7: #9d815c;
  --shadow1: 2px 10px 20px -4px #a3a3a3;
  --shadow2: 2px 5px 10px -4px #3e3d3d;
}

.bg1 {
  background: var(--col1);
}

.bg2 {
  background: var(--col2);
  
}

.bg3 {
  background: var(--col3);
}

.bg4 {
  background: var(--col4);
}

.bg5 {
  background: var(--col5);
}

.bg6 {
  background: var(--col6);
}

.bg7 {
  background: var(--col7);
}
