:root {
  --mainBg: #ffedd5;
  --col1: #f6d8af;
  --col2: #e7c494;
  --col3: #d6b17f;
  --col4: #c39f70;
  --col5: #b09064;
  --col6: #9d815c;
  --shadow1: 2px 10px 20px -4px #a3a3a3;
  --shadow2: 2px 5px 10px -4px #3e3d3d;
  --shadow3: 0px 2px 20px -5px black;
}

.bg1 {
  background: var(--col1);
}

.bg2 {
  background: var(--col2);
}

.bg3 {
  background: var(--col3);
}

.bg4 {
  background: var(--col4);
}

.bg5 {
  background: var(--col5);
}

.bg6 {
  background: var(--col6);
}

.bg7 {
  background: var(--col7);
}

.shadow1 {
  box-shadow: var(--shadow1);
}

.shadow3 {
  box-shadow: var(--shadow3);
}
